/***
 * 
 * Contents
 * 
 * 1.Globals
 * 2. Layout
 * 	 2.1. Admin and Navbars
 * 	   2.1.1. All Navbars
 * 	   2.1.2. Sticky Navbar
 *       2.1.2.1. Logo
 *       2.1.2.2. Social Media
 *       2.1.2.3. Search
 *     2.1.3. Global Navbar
 *   2.2. Header and Main Content
 * 	 2.3. Columns
 *   2.4. Footer
 *   2.4.1. Sticky Footer
 * 3. Homepage
 * 4. Article Pages
 *   4.1. Article Feedback Form
 *   4.2. Comments Forums
 *     4.2.1 Comments Form
 * 5. Social Media Share Buttons
 * 6. Multi-Post Pages
 *   6.1. Forum/Category Pages
 *   6.2. Series Pages
 *   6.3. Author Pages
 * 7. Sidebar & Widgets
 * 
 * 
 * Modal Windows
 * Tooltips
 * Advertising
 * 
 **********/

/* 1. Globals */

body {
	font-size: 18px;
	font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
	line-height: 1.65;
	color: #555;
}
h1 {
	font-family: "Patua One", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-weight: normal;
}
h1.entry-title {
	font-size: 40px;
	margin: 0.3em 0 0.5em;
}
h2
, h3
, h4
, h5
, h6
, legend {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}
label {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
}
a
, .widgettitle a
, .stories h3.widgettitle  {
	color: #3982aa;
}
a:hover
, .widgettitle a:hover {
	color: #3982aa;
}
a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
ul,ol {
	padding: 0;
	margin: 1em 0 1em 2em;		
}
li {
	margin-bottom: 0.5em;
}
blockquote {
	background: url('../img/quotes-02.png') top left no-repeat;
	padding: 0 0 0 75px;
	border-left: 0;
	margin: 1em 0;
	color: #666;
}
blockquote p {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 0 0 1em 0;
	line-height: 1.65;
}

/* 2. Layout */

.masthead 
, #page
, #site-footer
, #footer-logos
, .sticky-nav-container
, .homepage-header-container
, .sticky-footer-container
, #before-footer {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .masthead 
  , #page
  , #site-footer
  , #footer-logos
  , .sticky-nav-container
  , .homepage-header-container
  , .sticky-footer-container
  , #before-footer {
    padding: 0 28px;
  }
}

@media (min-width: 992px) {
  .masthead 
  , #page
  , #site-footer
  , #footer-logos
  , .sticky-nav-container
  , .homepage-header-container
  , .sticky-footer-container
  , #before-footer {
	max-width: 1230px;
	width: 93.75%;
	margin: 0 auto;
	padding: 0 35px;
  }
}

/* 2.1 Layout: Admin and Nav bars */

#wpadminbar {
  position: fixed;	
}

/* 2.1.1 Layout: All Navbars */

.navbar {
  min-height: 0;	/* bootstap */
  border: 2px solid transparent;	
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;	
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
  color: #FFF;
}
.nav > li > a
, .navbar li > a 
{
	line-height: 50px;
	padding: 0 12px;	/* bootstap, largo */	
}
.navbar .open > a
, html.no-touch .navbar li > a:hover
, .sticky-nav-holder-banyan .open > a
, html.no-touch .sticky-nav-holder-banyan li > a:hover {
	background-color: #469ac7;
	color: white;
}


/* 2.1.2 Layout: Sticky Nav Bar */ 

body.admin-bar .sticky-nav-holder-banyan {
  top: 46px;
}
@media (min-width: 768px) {
  body.admin-bar .sticky-nav-holder-banyan {
    top: 32px;
  }
}
.sticky-nav-wrapper-banyan {
	max-height: 53px;
}
.sticky-nav-holder-banyan {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99998;
	background-color: #3982aa;	/* largo */
}
.sticky-nav-holder-banyan .sticky-nav-container {
  margin: 0 auto;
  position: relative;	
}

.sticky-nav-holder-banyan {
  max-height: 54px;
}
.sticky-nav-holder-banyan .nav > li > a
, .sticky-nav-holder-banyan .navbar li > a {
  padding: 0 12px;	
}	 
.sticky-nav-holder-banyan .nav > li.donate
, .sticky-nav-holder-banyan .navbar li.donate  {
  margin-right: -12px;	
}	 

.sticky-nav-holder-banyan
,.sticky-footer-holder {
  z-index: 1000;
}

/* Menu buttom for mobile */
.navbar .btn-navbar {
	background-color: #469ac7;
	margin: 9px 10px 9px 0;		
	border: 1px solid transparent;
	border-radius: 4px;
}
.navbar .btn-navbar:hover {
	background-color: #50b2e7;	
}

/
/* Dropdown menu */
.navbar .nav-shelf {
	background-color: #469ac7;
}
.navbar .nav-shelf li:hover {
	background-color: #50b2e7;		
}

.sticky-nav-holder-banyan .navbar {
	margin-bottom: 0;
}
.sticky-navbar .container {
	padding-left: 0;	/* bootstrap */
	padding-right: 0;	/* bootstrap */
}
.sticky-nav-holder-banyan .nav-right {
	float: right;
}
.sticky-nav-holder-banyan .navbar li > a {
	color: white;	/* largo */
}
.sticky-nav-holder-banyan .navbar .nav li.dropdown.open > .dropdown-toggle
, .sticky-nav-holder-banyan .navbar .nav li.dropdown.active > .dropdown-toggle
, .sticky-nav-holder-banyan .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #fff;
	background-color: #59c5ff;
}
.sticky-nav-holder-banyan .nav-right #header-extras {
	float: left;
	margin: 0;
}
.sticky-nav-holder-banyan .nav-right #header-extras a span
, .nav-right .donate .donate-link span {
	background-color: #e86051;
	padding: 4px 8px;
	color: white;
}
.sticky-nav-holder-banyan .nav-right #header-extras a span:hover
, .nav-right .donate .donate-link span:hover {
	background-color: #ff6a59;
}	

.sticky-nav-holder-banyan .navbar li .caret:before {
	border-top-color: white; /* largo */
}
.caret {
	padding: 0 5px 0 10px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.dropdown-menu {
	background: #469ac7;	
}

/* 2.1.2.1 Layout: Sticky Navbar: Logo */

.navbar li.home-logo > a  {
	display: block;
	width: auto;
	margin-left: -12px;
	padding: 0 12px; /* largo: .navbar li.home-icon > a img */
}
.navbar li.home-logo > a img {
	display: block;
	width: auto;
	padding: 13px 0 12px; /* largo: .navbar li.home-icon > a img */
}

@media (max-width: 767px) {	
	navbar li.home-logo a {
		position: relative;
		margin: 0;
		padding 0 8px;
	}
	.navbar li.home-logo > a img {
		width: 225px;
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 0;
		margin: auto;
	}
	
	.navbar .nav-shelf .site-name
	, .navbar .nav-shelf .home-icon
	, .navbar .nav-shelf .home-link
	, .navbar .nav-shelf .home-logo {
		display: none;
	}
}

.wrap-logo {
	display: table-cell;
	vertical-align: top;
	width: 34%;	
}
.wrap-logo h1 {
	margin: 0;
}
.wrap-logo img {
	max-width: 375px;
}

/* 2.1.2.2 Layout: Sticky Navbar: Social Media */

.wrap-navbar-facebook {
	display: block;
	float: right;
	position: relative;
	line-height: 36px;
	width: 148px;
	padding: 0;
}	

.wrap-navbar-twitter {
	display: block;
	float: right;
	position: relative;
	width: 150px;
	padding: 16px 0 0;
	margin-right: 12px;
}	

/* 2.1.2.3 Layout: Sticky Navbar: Search Menu */

.sticky-nav-holder-banyan .nav-right .form-search {
	position: relative;
}
.sticky-nav-holder-banyan #sticky-nav-search.show .form-search .input-append
, .sticky-nav-holder-banyan #sticky-nav-search.show .toggle {
	background-color: #469ac7;
	visibility: visible;
}
.sticky-nav-holder-banyan .form-search .input-append {
	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	visibility: hidden;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 10px;
	z-index: 90;
}
.sticky-nav-holder-banyan .nav-right .form-search .input-append .text-input-wrapper {
	display: block;
	float: left;
	width: 230px;	
}
.sticky-nav-holder-banyan .nav-right .form-search .input-append input {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 36px !important;
}
.sticky-nav-holder-banyan .nav-right .form-search .input-append button {
	width: 50px !important;
	height: 36px !important;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}


/* 2.1.3 Layout: Global Navbar */

.wrap-global-nav {
	margin: 0;
	padding: 0.7em 0 0.4em;
	color: #fff;	
	font-family: "Patua One", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrap-global-nav ul.menu {
	margin: 0 -12px;
}
.wrap-global-nav ul li {
	display: block;
	float: left;
	position: relative;
	margin: 0;
}
.wrap-global-nav ul li a {
	display: block;
	padding: 0 10px;
	font-size: 18px;
	color: #fff;	
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}
.wrap-global-nav ul li a:hover
, .wrap-global-nav .open > a
, html.no-touch .wrap-global-nav li > a:hover
{
	color: #fff;	
	background: inherit;
	text-decoration: underline;
}

/* 2.2 Layout: Header and Main Content Area */

.homepage-header-wrapper {
  padding-top: 53px;
  background: #92aec8;
  margin-bottom: 2em;
}

.home #site-header {
	min-height: 0; /* Largo override */
}

#page {
  padding-top: 53px;	
}
.home #page {
  padding-top: 0;
}

#main.row {
	margin: 24px -15px;
} 
.home #main.row {
	margin: 0 -15px 24px;
}
#main {
	margin: 24px 0;
	position: relative;
}
.home #main {
	margin: 0 0 24px;
}

/* 2.3 Layout: Columns */

.col-main
, .col-right-sidebar {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
		
}

@media (min-width: 992px) {
  .col-main {
  	position: relative;
  	float: left;
  	width: 70%;
  }
		
  .col-right-sidebar {
  	position: relative;
  	float: right;
  	width: 30%; 
    max-width: 330px;
  }	
  
  #homepage-three-column .col-main {
  	width: 72.5%;
  }
  #homepage-three-column .col-right-sidebar {
  	width: 27.5%;
  	max-width: 27.5%;
  }
}

.col-md-sm
, .col-md-content {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1em;
}

@media (min-width: 992px) {
	.col-md-sm {
		float: left;
		width: 20%;
		margin-top: 5em;
	}
	.col-md-content {
		float: left;
		width: 80%;
	}
}

/* 2.4 Layout: Footer */

.footer-bg {
	background: #6a7f92;
}
#site-footer {
	color: white;
}
#site-footer .widgettitle
, #site-footer .widget_nav_menu .widgettitle {
	margin-bottom: 1em;
}
#site-footer .widgettitle
, #menu-footer-navigation li, #supplementary ul.menu li {
	border-bottom: 1px solid white;
	
}
#supplementary {
	padding: 0;
}
#supplementary ul.menu li {
	border-bottom: 0px;
	font-size: 13px;
	font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
	margin: 1.2em 0;
	padding: 0;
}
#supplementary a
, #boilerplate a
, #supplementary ul.menu li a {
	color: white;
}
#boilerplate p.footer-credit a {
	text-decoration: underline;	
}
#supplementary a:hover
, #boilerplate a:hover
, #supplementary ul.menu li a:hover {
	color: white;
	text-decoration: underline;
}
#site-footer input
, #site-footer input.search-query {
	height: 36px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boilerplate {
	color: white;
	text-align: center;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boilerplate 
, #boilerplate p
, #boilerplate a {
	color: white;
}
#footer-social {
	text-align: center;
}

/* 2.4.1 Layout: Footer: Sticky Footer */

sticky-footer-holder {
	color: white;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #ff6a59;
	height: 42px;
	box-shadow: 0 0 8px rgb(95,140,191);
	-webkit-box-shadow: 0 0 8px rgb(95,140,191);
	-moz-box-shadow: 0 0 8px rgb(95,140,191);
}
.sticky-footer-holder p {
	margin: 0;
	text-align: center;
}
.sticky-footer-holder a {
	color: white;
	text-decoration: underline;
}

/* 3. Homepage */

.wrap-homepage-signups {
	display: table;
	width: 100%;
	margin: 1.4em 0;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	font-size: 15px;
}
.wrap-homepage-signups .homepage-date 
, .wrap-homepage-signups .email-signup
, .wrap-homepage-signups .wrap-homepage-facebook
, .wrap-homepage-signups .wrap-homepage-twitter {
	display: table-cell;
}
.wrap-homepage-signups .homepage-date {
	text-align: left;
	width: 30%;
	padding: 0 15px;
}
.wrap-homepage-signups .email-signup {
	width: 40%;
	padding: 0 15px;
}
.wrap-homepage-signups .wrap-homepage-facebook {
	text-align: right;
	width: 15%;
	padding: 0 15px;
}
.wrap-homepage-signups .wrap-homepage-twitter {
	text-align: right;
	width: 15%;
	padding: 8px 15px 0;
	vertical-align: middle;
}
.wrap-homepage-signups .email-signup input 
, .wrap-homepage-signups .email-signup button {
	font-size: 15px;
}
.wrap-homepage-signups .email-signup input {
	width: 290px;
}
.wrap-homepage-signups .wrap-homepage-social .wrap-facebook-buttons
, .wrap-homepage-signups .wrap-homepage-social .wrap-twitter-button {
	float: right;
}

/* 4. Articles */

body.normal.single-post article.post > header
, body.normal.page article.post > header {
	margin: 0;
}
.wrap-sm-content {
	max-width: 700px;
	margin: 0 auto;
}
body.normal.single-post .entry-content
, body.normal.page .entry-content {
	padding: 0;
}
body.normal.single-post .hero
, body.normal.page .hero {
	background-color: white;
	margin: 1.2em 0;
}
h5.top-tag {
	font-size: 15px;
	margin-bottom: 0.4em;
	color: #888;
}
h2.subtitle {
	font-size: 21px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 0.8em;
	color: #666;
}
.is-video .embed-container {
	margin-bottom: 0px;
}
.wrap-sm-horizontal {
  margin-bottom: 2em;
}

h5.byline {
	font-size: 15px;
	padding-bottom: 1em;
	margin: 1em 0 0 0;
	border-bottom: 1px dotted #ccc;
}
.byline .edit-link a {
	color: #e86051;
}
.event-datetime
, .location
, .event-info 
, .event-info p {
	font-size: 21px;
	font-weight: bold;
	margin: 0.5em 0;
}

.entry-content{
	margin-bottom: 0.5em;
}
p {
	font-size: 18px;
	margin: 1em 0;
	line-height: 1.65;
}
div.textwidget {
	margin: 1em 0;
	line-height: 1.65;	
}
p.shirttail
, p.author-bio {
	font-size: 15px;
	color: #666;
	padding-top: 1em;
	border-top: 1px dotted #ccc;
}
.post-meta {
	margin: 1em 0 2em;
}
.wp-caption
, .hero {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wp-caption
, .hero
, .wp-caption .wp-media-credit
, .hero .wp-media-credit
, .wp-caption .wp-caption-text
, .hero .wp-caption-text {
	color: #666;
}
.wp-caption .wp-media-credit
, .hero .wp-media-credit {
	font-size: 9px;
}
.wp-caption .wp-caption-text 
, .hero .wp-caption-text {
	font-size: 18px;
	font-style: normal;
	line-height: 1.1;
}
.wrap-google-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.wrap-google-map iframe,   
.wrap-google-map object,  
.wrap-google-map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 4.1 Article Feedback Form */

#feedback-form
, #comments-forum
, #category-featured {
	border-top: 1px solid #51b2e7;
}
#feedback-form h3
, #comments-forum h3 {
	font-family: "Patua One", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;	
	font-size: 27px;
	margin: 0.8em 0 0.5em;
}

/* 4.2 Comments Forum */ 

#comments p {
  margin: 0 0 1em 0;	 
} 
.commentlist > li.comment {
  background: #fff;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 1em 0 0;
  position: relative;	
}
.commentlist > li.comment article{
  margin-bottom: 1em;
}
.commentlist > li.comment.comment-facebook {
  border-top: 1px solid #3b579d;		
}
.commentlist > li.comment.comment-twitter {
  border-top: 1px solid #55acee;		
}
.commentlist .children li.comment {
  background: #fff;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0 0 0 60px;
  padding: 1em 0 0;
  position: relative;
}
.comment-meta{
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}
.comment-meta .wrap-icon {
  float: left;
  width: 50px;
  height: 50px;	
  margin: 0 10px 10px 0;
}
.comment-meta .wrap-icon img {
  display: block;
  width: 29px;
  margin: 0 auto;
}	
.comment-meta a.comment-twitter-username {
  display: block;
  color: #AAB8C2;
  font-size: 15px;
}	
.comment-meta .comment-datetime {
  font-size: 14px;	
}
.comment-meta a.comment-datetime  {
  color: #666;	
}
.comment-meta a.comment-datetime:hover {
  text-decoration: underline;
}

.comment-meta .member-medal {
  float: right;
  width: 12%;
  min-width: 65px;
  max-width: 140px;
  max-height: 53px;
}

@media (min-width: 992px) {	
  .comment-meta .member-medal {
    width: 140px;
    height: 53px;
  }
}
.comment-meta .member-medal span {
  display: none;
}	
.commentlist .children li.comment .comment-meta {
  line-height: 1.3;
  margin-left: 0;	
}
.commentlist .children li.comment span.fn {
  display: inline; 	
}
.commentlist .comment-content {
  padding-left: 60px;
}
.commentlist .children li.comment .comment-content {
  margin: 0;
}
.commentlist .wrap-twitter-intents
, .commentlist .wrap-facebook-like {
  padding: 4px 0 ;
  height: 50px;
  vertical-align: middle;	
}
.commentlist .wrap-twitter-intents a {
  width: 20px;
  margin-right: 35px;
}
.commentlist .wrap-comment-vote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.commentlist .comment-vote a {
  cursor: pointer;
}
.commentlist .reply
, .commentlist .wrap-facebook-like
, .commentlist .wrap-twitter-intents
, .commentlist .wrap-comment-vote {
  margin-left: 60px;	
}

.commentlist > li.bypostauthor:before {
  content: none;
}	
span.comment-alert a {
  color: #ff5e4d;
}

/* 4.2.1 Comments Form */
#respond {
  position: relative;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0 0 15px 0;
  width: 100%;
}
.commentlist #respond {
  margin-left: 60px;	
}	
#respond p {
  margin: 1em 0;
}	
#respond p#reply-title {
  font-weight: normal;
  line-height: 1.4;
  color: #555;
}
#respond #cancel-comment-reply-link {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.4em;
	letter-spacing: 0.05em;
	position: relative;
	text-decoration: underline;
	text-transform: uppercase;
	top: 0;
	right: 0;
	
}
#respond .avatar {
  -webkit-box-shadow: 0 1px 2px #cccccc;
  -moz-box-shadow: 0 1px 2px #cccccc;
  box-shadow: 0 1px 2px #cccccc;
  padding: 0;
  float: left;
  margin: 0 10px 10px 0;
  width: 50px;
  height: 50px;
}
#respond .comment-form-comment {
  margin-left: 60px;
}
#respond textarea {
  text-indent: 0px;
  height: 100px;
}
#respond .form-submit {
  margin-left: 60px;
  float: none;
}

/* 5. Social Media Share Buttons */

.sharetool {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
ul.sharetools-list {
  padding: 0;
}
li.sharetool a {
  text-decoration: none;
}
li.sharetool a:hover {
  text-decoration: none;
}
.sharetool .icon {
  width: 100%;
  height: 100%;
}
.sharetool .sharetool-text {
  color: #3982aa;
}

.wrap-sharetools-horizontal {
  padding: 0.5em 0 1em;
}	
  
.community-events-calendar .wrap-sharetools-horizontal {
  margin: 1em 0 1.8em;
}  
.wrap-sharetools-horizontal a.sharetool
, .wrap-sharetools-horizontal span.sharetool 
, .wrap-sharetools-horizontal div.sharetool {
  display: block;
  float: left;
  height: 24px;
  width: inherit;
  margin-right: 30px;
  font-size: 15px;
  cursor: pointer;
 }
.wrap-sharetools-horizontal .sharetool .icon .sharetool-text {
  display: inline-block;
  padding-left: 10px;
}
  
@media (min-width: 992px) {
  .wrap-sharetools-horizontal-small {
  	float: right;
  	margin: -0.3em 0 0.5em;
  }
  .wrap-sharetools-horizontal-small a.sharetool
  , .wrap-sharetools-horizontal-small span.sharetool {
  	display: block;
	float: left;
	height: 18px;
	width: 18px;
	margin-left: 7px;
  	cursor: pointer;
  }
  .wrap-sharetools-vertical ul.sharetools-list {
    margin: 0;
  }

  .wrap-sharetools-vertical ul li.sharetool {
  	display: block;
  	margin: 0;
  	padding: 4px 0;
  	border-bottom: 1px dotted #ccc;
  }		
  .wrap-sharetools-vertical ul li.sharetool a
  , .wrap-sharetools-vertical ul li.sharetool span.st-sharethis
  , .wrap-sharetools-vertical ul li.sharetool div.wrap-facebook-like {
  	display: block;
  	width: 100%;
  	height: 40px;
  	padding: 8px 0;
  	font-size: 13px;
  	cursor: pointer;
  }
  .wrap-sharetools-vertical .sharetool .icon {
  	display: inline-block;
  	height: 24px;
  }
  .wrap-sharetools-vertical .sharetool .icon .sharetool-text {
	display: inline-block;
	padding: 0 0 0 14px;
	line-height: 24px;
	color: #3982aa;
  }
}

/* 6. Multiple Post Pages */

.stories {
	font-size: 14px;
}
.stories article
, .widget article {
	border-bottom: 0;
	margin-bottom: 1.4em;
	border-top: 1px dotted #ccc;
	padding-top: 1.4em;
}
.stories article:first-child
, .widget article:first-child
, .stories .col-md-7 article:first-of-type{
	border-top: 0;
	padding-top: 0;	
}

.primary-featured-post, 
.secondary-featured-post {
	padding: 0;
	border-bottom: 0;
	margin: 0;
}
.stories h2.entry-title {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;	
	line-height: 1.3;
	font-size: 22px;
}	
.stories .primary-featured-post h2.entry-title {
	font-size: 22px;
}
.stories a.head-image {
	display: block;
	margin-bottom: 1em;
}
.stories .top-story h2.entry-title {
	font-size: 25px;
}
.stories article img.attachment-post-thumbnail 
, .stories article img.avatar {
	float: left;
	max-width: 30%;
	margin: 0 18px 10px 0;
}
.stories .entry-content p {
	font-size: 14px;
	margin: 1em 0;
}
.stories .entry-content ul {
	margin: 1em 0 1em 1.2em;
	padding-left: 0.6em;
}
.stories .entry-content li {
	font-size: 14px;
	color: #888;
}
li.related-story {
	font-size: 16px !important;
}

/* 6.1 Multiple-post Pages: Forum/Category Pages */

#category-featured {
	padding-top: 0.5em;	
}
.archive-background .related-topics {
	font-family: inherit;
}
.archive-background .related-topics ul {
	display: inline;
	font-size: inherit;
	float: none;
	list-style: none;
	line-height: inherit;	
}
.rss-subscribe-link {
	font-size: 90%;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	float: right;
	text-transform: uppercase;
  	padding-left: 34px;
  	background: #fff url('/wp-content/themes/Largo-for-Banyan-Project/img/icons/rss-24.png') top left no-repeat;
}

/* 6.2 Multiple-post pages: Series Pages */

.series-label {
	margin: 5px 0;
	padding: 8px 0;
}
.series-label h5 {
	font-weight: normal;
	font-size: 16px;
	font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
	text-transform: none;
}

/* 6.3 Multiple-post pages: Author Pages */

.author-box {
	clear: none;	
}

/* 7. Sidebar & Widgets */

.widget
, .widget p /* Largo override */
, .widget ul {
	font-size: 14px;	
}

#sidebar {
	margin: 0;
}
#sidebar .widget
, #middlebar .widget {
	margin: 36px 0 0 0;
	padding: 0;
	border-top: 2px solid #c7edff;
}

@media (min-width: 768px) {
  #sidebar {
	margin: 113px 0;
  }

  #sidebar .widget
  , #middlebar .widget {
	margin: 90px 0 0 0;
  }
}

.section-header {
	padding: 0;
	border-top: 2px solid #c7edff;
}

#sidebar .widget h2.widgettitle 
, #sidebar .widget h3.widgettitle 
, #middlebar .widget h2.widgettitle
, #middlebar .widget h3.widgettitle
, .section-header h3.widgettitle {
	font-family: "Patua One", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: lowercase;
	margin: 0.3em 0 1em;
	color: #3982aa;
}
#sidebar .widget h3.widgettitle
, #middlebar .widget h3.widgettitle
, .section-header h3.widgettitle {
	font-size: 21px;
}

.stories h3.widgettitle a {
	color: inherit; /* Largo override */
}

/* 7.1 Sidebar & Widgets: Homepage  */

#homepage-three-column #sidebar {
	margin: 0;
}
#homepage-three-column #sidebar .widget
, #homepage-three-column #middlebar .widget {
	margin: 0 0 20px;	
}

/* 7.2 Sidebar & Widgets: Calendar  */

.community-events-calendar #sidebar {
	margin: 65px 0 30px;
}
.community-events-calendar #sidebar .widget {
	margin: 0 0 20px;	
}


/* 7.3 Sidebar & Widgets: Related Articles and Event Listings */
#wrap-related-articles article img.wp-post-image
, .stories #wrap-related-articles article img.wp-post-image
, #wrap-related-articles article img.avatar
, .stories #wrap-related-articles article img.avatar
, #events-listing-widget article img.wp-post-image
, .stories #events-listing-widget article img.wp-post-image
 {
	float: left;
	margin: 0 18px 10px 0;
}
#wrap-related-articles article img.wp-post-image
, #events-listing-widget article img.wp-post-image {
	max-width: 30%;
}
.stories #wrap-related-articles article img.wp-post-image
, .stories #events-listing-widget article img.wp-post-image {
	max-width: 35%;
}
#wrap-related-articles h4
, .stories #wrap-related-articles h4
, #events-listing-widget h4
, .stories #events-listing-widget h4 {
	font-family: Merriweather, Georgia, "Times New Roman", Times, serif;	
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}

/* Sidebar & Widgets: Popular Posts */

.widget_analytic-bridge-popular-posts h5 {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 13px;
  margin-bottom: 0;
}
.widget_analytic-bridge-popular-posts li {	
  margin: 1em 0;	
}

/* 8. Forms */

legend {
  line-height: 1.6;
  margin-bottom: 1em;
  border-bottom: 1px dotted #ccc;
	
}
label {
  font-size: 20px;
}
input
, button
, select
, textarea {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
input,
select,
textarea {
  width: 100%;
}
.checkbox {
  padding: 0;
}
input[type="text"] {
  height: auto;
}
radio .label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.required
, .error
, .error-msg {
  color: red !important;
}
.form-caption {
  margin: 0.3em 0;
  font-size: 90%;
  color: #666;
}

/* 9.1 Form: Search Form */

.form-search .searchbox {
	width: 75%;
}

/* 10 Community Events Calendar */

.community-events-calendar .nav-tabs {
  margin: 1em 0;
  padding-left: 16.6666667%;
}
.community-events-calendar .nav-tabs > li > a  {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fbfbfb;
}
.community-events-calendar .nav-tabs > li.active > a
, .community-events-calendar .nav-tabs > li.active > a:hover {
  background: #fff;
}
.community-events-calendar .nav-tabs > li > a:hover {
  background: #eee;	 
}

.community-events-calendar .wrap-event {
  margin: 1em -15px 1em;
}
.community-events-calendar h4.event-date {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  color: #777;
  font-size: 16px;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}	
.community-events-calendar .wrap-event h5.upcoming-title {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  margin: 0 0 0.5em 0;
}
.community-events-calendar .wrap-event .teaser-dateline {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}


/* Clndr */
.clndr {	
	display: table;
	width: 100%;
}
.clndr .clndr-controls {
	display: table;
	width: 100%;
}
.wrap-monthly-calendar .clndr .clndr-controls {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}
.calendar-sidebar-widget .clndr .clndr-controls {
	margin-bottom: 5px;
	font-weight: bold;	
}
.clndr .clndr-controls .month 
, .clndr .clndr-controls .clndr-control-button {
	display: table-cell;
	width: 33%;
}
.clndr .clndr-controls .clndr-control-button {
	text-align: center;
	cursor: pointer;
}
.clndr .clndr-controls .month {
	text-align: center;
}
.clndr .clndr-grid {
	display: table;
	width: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clndr .clndr-grid .days-of-the-week
, .clndr .clndr-grid .week {
	display: table-row;
}
.clndr .clndr-grid .days-of-the-week .header-day {
	display: table-cell;
	width: 14.285%;
	text-align: center;
}
.wrap-monthly-calendar .clndr .clndr-grid .days-of-the-week .header-day {
	padding: 3px;
	border: 2px solid #fff;
	
	color: #fff;
	background: #92aec8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.calendar-sidebar-widget .clndr .clndr-grid .days-of-the-week .header-day {
	padding: 2px;
	border: 1px solid #fff;
	
	color: #fff;
	background: #92aec8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}
.clndr .clndr-grid .day {
	display: table-cell;
	width: 14.285%;
}
.clndr .clndr-grid .day.today .day-number {
	color: #e86051 !important;
}

.wrap-monthly-calendar .clndr .clndr-grid .day {
	border: 2px solid #fff;
	height: 90px;
	background: #fbfbfb;
}
.calendar-sidebar-widget .clndr .clndr-grid .day {
	border: 2px solid #fff;
	min-height: 35px;
	text-align: center;
}
.calendar-sidebar-widget .clndr .clndr-grid .day.event {
	background: #daffff;
}
.wrap-monthly-calendar .clndr .clndr-grid .day.adjacent-month {
	background: #eee;
}
.calendar-sidebar-widget .clndr .clndr-grid .day.adjacent-month {
	background: #eee;
}
.wrap-monthly-calendar .clndr .clndr-grid .day .day-number {
	display: inline-block;
	color: #3982aa;
	background: #fff;	
	padding: 4px;
}
.calendar-sidebar-widget .clndr .clndr-grid .day .day-number {
	color: #555;
}
.calendar-sidebar-widget .clndr .clndr-grid .day.event .day-number {
	color: #275e7c;
}
.wrap-monthly-calendar .clndr .clndr-grid .day.adjacent-month .day-number {
	color: #999;
}
.calendar-sidebar-widget .clndr .clndr-grid .day.adjacent-month .day-number {
	color: #999;
}
.wrap-monthly-calendar .clndr .clndr-grid .day .clndr-event {
	display: block;
	font-size: 12px;
	color: #51b2e8;
	padding: 4px 6px;
	line-height: 1.2;
}
.calendar-sidebar-widget .clndr .clndr-grid .day .clndr-event {
	display: block;
	font-size: 10px;
	color: #51b2e8;
	padding: 2px;
	line-height: 1.2;
}

/* Upcoming Events Listing */
.wrap-upcoming-events .thumbnail {
	padding: 12px 10px;
	color: inherit;
}
.wrap-upcoming-events h5 {
	font-weight: normal;
	line-height: 1.2;
}
.wrap-upcoming-events a.thumbnail:hover {
	text-decoration: none;	
	background-color: #fbfbf0;
}
.wrap-upcoming-events .thumbnail p 
, .wrap-upcoming-events .thumbnail div {
	font-size: 93%;
}

/* Sidebar widget specific */
.calendar-sidebar-widget .clndr .event-listing h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1em 0;
	color: #333;
}
.calendar-sidebar-widget .clndr .event-listing .event-item {
	margin: 0.7em 0;
}

/*	Modal Windows */

.modal-dialog {
  margin: 20px 20px 20px 20px;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 90px auto 50px;
  }
  body.admin-bar .modal-dialog {
    margin: 112px auto 50px;
  } 
}

/* Tooltips */

.tooltip-arrow {
  color: #0f2e3f;
}
.tooltip-inner {
  background: #0f2e3f;	
}

/* 11. Advertisting */
.ad-outerwrap {
	width: 100%;
	position: relative;
}
.ad-innerwrap {
	margin: 0 auto;
	background: #eee;
	border-top: 1px solid #ccc;
	font-size: 12px;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #888;
}
.ad-outerwrap-leaderboard {
	margin: 2em 0 0;
}
.home .ad-outerwrap-leaderboard {
	margin: 0 0 2em;
}
.ad-innerwrap-leaderboard {
	max-width: 728px;
}
.homepage-header-container .ad-innerwrap-leaderboard {
	background: inherit;
	border-top: 0;
	color: #ccc;
}	
.ad-outerwrap-sidebar {
	margin: 1em 0;
}
.ad-innerwrap-sidebar
, .ad-innerwrap-post-injection {
	min-height: 250px;
	max-width: 300px;
}
.ad-innerwrap-sidebar {
	background: #fff;
} 
.ad-outerwrap-post-injection {
	margin: 1.3em 0;
}
.ad-outerwrap-footer {
	width: 100%;
	position: relative;
	margin: 2em 0;
}
.ad-innerwrap-footer{
	max-height: 640px;
	max-width: 950px;
}

/* 12. Temporary Bugfixes */
/* Theme My Login Reset Password form */
#pass2 { display: none; }


